version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      # Exclude node_modules from being overwritten by the volume mount
      - /app/node_modules
    env_file:
      - .env
    command: npm run dev
